body {
    background-color: blueviolet;
    background-image: url(https://i2.pickpik.com/photos/469/684/970/sun-flower-bees-summer-garden-preview.jpg);
    background-size: cover;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    text-align: left;
}

nav{
    background-color: rgba(66, 61, 1, 0.397);
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    right: 0%;
}

main{
    height: 400px;
    width: 1024px;
    text-align: center;
    margin-top: 80px;
}

footer {
    background-color: rgba(128, 119, 0, 0);
    height: 100px;
    width: 1024px;
}

h1 {
    font-size: 95px;
    color: black;
    font-family:cursive
}

p {
    font-size: 36px;
    color:beige;
    font-family:cursive
}

p2 {
    text-decoration: underline;
    text-align: left;
    padding-right: 600px;
    font-size: 37px;
    font-style: oblique;
}

ul {
    text-align: left;
    padding-right: 700px;
    font-style: italic;
}

a {
    font-style: oblique;
    font-size: 35px;
    color: bisque;
}

li {
    font-size: 35px;
    font-style: oblique;
}

nav a {
    text-decoration: none;
    font-size: 27px;
    padding-left: 35px;
    padding-right: 35px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    text-align: right;
}